@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --ghost-white: #f8f9fd;
    --fire-bush: #3c8320d8;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    line-height: 1.5;
    font-weight: 400;
}

/* resets and resuable stylings */
/* img {
    display: block;
    width: 100px;
} */

button {
    cursor: pointer;
    outline: 0;
}

.container {
    max-width: 1280px;
    /* margin: 0 auto; */
    /* margin-top: 10px; */
    padding: 0 1.5rem;

}

/*---------------------------------------------*/
.cart {
    justify-self: flex-end;
    padding-right: 8px;
    font-size: 15px;
    /* margin-left: -0px; */
    /* padding-left: 10px; */
    margin-right: 80px;
    margin-top: 13px;
}

#cart-btn {
    border: none;
    font-size: 1.5rem;
    background: none;
    color: white;
    position: relative;
}

#cart-count-info {
    position: absolute;
    top: -12px;
    right: -8px;
    background: var(--fire-bush);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.cart-container {
    position: absolute;
    overflow-y: scroll;
    background: #fff;
    width: 100%;
    max-height: 600px;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
}

.cart-container::-webkit-scrollbar {
    width: 8px;
}

.cart-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* js related class */
.show-cart-container {
    display: block;
}

.cart-item {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.15fr;
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-del-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.05rem 0.45rem;
    font-size: 1.4rem;
    background: var(--fire-bush);
    border: none;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cart-item img {
    width: 80px;
}

.cart-item-info {
    text-align: center;
}

.cart-item-info span {
    display: block;
}

.cart-total {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--fire-bush);
    color: #fff;
    position: relative;
}

.cart-total h3 {
    margin-right: 0.2rem;
    font-size: 1.3rem;
}

#cart-total-value {
    font-size: 1.3rem;
    font-weight: 500;
}
#checkoutBtn{
    margin: 10px 100px;
    height: 50px;
    width: 40%;
    color: white;
    background-color: #3a8527;
    text-transform: uppercase;
    border: 1 bold gray;
    border-radius: .3rem;
    letter-spacing: 2px;
}

#checkoutPage.wrapperCheckOut{
    margin-top: 90px;
}



/*---------------------------------------------*/

/* products and sales */
.products {
    /* visibility: hidden; */
    padding: 6rem 6rem;
    position: absolute;
    top: 0px;
    background-color: rgba(85, 190, 85, 0.466);
    width: 100%;
    /* height: 100%; */
    margin-top: 40px;
}

.sales {
    /* visibility: hidden; */
    padding: 6rem 6rem;
    position: absolute;
    top: 0px;
    background-color: rgba(85, 190, 85, 0.466);
    width: 100%;
    /* height: 100%; */
    margin-top: 40px;
}

.syrups {
    /* visibility: hidden; */
    padding: 6rem 6rem;
    position: absolute;
    top: 0px;
    background-color: rgba(85, 190, 85, 0.466);
    width: 100%;
    min-height: 1000px;
    /* height: 100%; */
}

.capsules {
    /* visibility: hidden; */
    padding: 6rem 6rem;
    position: absolute;
    top: 0px;
    background-color: rgba(85, 190, 85, 0.466);
    width: 100%;
    /* height: 100%; */
    min-height: 1000px;

}
.machines {
    /* visibility: hidden; */
    padding: 6rem 6rem;
    position: absolute;
    top: 0px;
    background-color: rgba(85, 190, 85, 0.466);
    width: 100%;
    height: 100%;
}
.acsrs {
    /* visibility: hidden; */
    padding: 6rem 6rem;
    position: absolute;
    top: 0px;
    background-color: rgba(85, 190, 85, 0.466);
    width: 100%;
    height: 100%; 
}
.products h2 {
    /* visibility: hidden; */
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 3rem;
}

.sales h2 {
    /* visibility: hidden; */
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 3rem;
}
.syrups h2 {
    /* visibility: hidden; */
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 3rem;
}
.acsrs h2 {
    /* visibility: hidden; */
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 3rem;
}
.capsules h2 {
    /* visibility: hidden; */
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 3rem;
}
.machines h2 {
    /* visibility: hidden; */
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 3rem;
}

.product-item {
    margin: 1rem 0;
}

.product-img {
    /* visibility: hidden; */
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.product-img-sale {
    /* visibility: hidden; */
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.product-img-syrups {
    /* visibility: hidden; */
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.product-img-acsrs {
    /* visibility: hidden; */
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.product-img-capsules {
    /* visibility: hidden; */
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.product-img-machines {
    /* visibility: hidden; */
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.product-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.product-img-sale img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.product-img-syrups img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.product-img-capsules img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.product-img-acsrs img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.product-img-machines img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.product-img:hover img {
    /* visibility: hidden; */
    opacity: 0.8;
}
.product-img-sale:hover img {
    /* visibility: hidden; */
    opacity: 0.8;
}
.product-img-syrups:hover img {
    /* visibility: hidden; */
    opacity: 0.8;
}
.product-img-acsrs:hover img {
    /* visibility: hidden; */
    opacity: 0.8;
}
.product-img-capsules:hover img {
    /* visibility: hidden; */
    opacity: 0.8;
}
.product-img-machines:hover img {
    /* visibility: hidden; */
    opacity: 0.8;
}
.product-content {
    padding: 1.6rem 0;
    text-align: center;
}

.add-to-cart-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: 1.05rem;
    background-color: var(--baltic-sea);
    color: #fff;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    opacity: 0;
}

.product-item:hover .add-to-cart-btn {
    opacity: 1;
}

.add-to-cart-btn .fas {
    margin-right: 0.4rem;
}

.add-to-cart-btn:hover {
    background-color: #23272a;
}

.add-to-cart-btn:hover {
    color: var(--fire-bush);
}

.product-name {
    /* visibility: hidden; */
    font-size: 1.3rem;
    color: var(--baltic-sea);
}

.product-category {
    font-size: 1.15rem;
    font-weight: 500;
    opacity: 0.6;
}

.product-price {

    /* visibility: hidden; */
    margin: 0.10rem 0;
    display: inline-block;
    font-weight: 600;
    background: var(--fire-bush);
    color: #fff;
    padding: 0.05rem 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    letter-spacing: 2px;
}

.product-price-old {
    margin: 0.15rem 0;
    display: inline-block;
    font-weight: 500;
    /* background: var(--fire-bush); */
    color: #fff;
    padding: 0.05rem 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    letter-spacing: 2px;
    text-decoration: line-through rgba(255, 0, 0, 0.596) 2px;
}




/* Media Queries for responsiveness */

@media screen and (min-width: 480px) {

    .btns button {
        display: inline-block;
    }

    .btns button:first-child {
        margin-right: 0.4rem;
    }
}

@media screen and (min-width: 680px) {
    .navbar {
        padding: 1.5rem 3rem !important;
    }

    .cart-container {
        width: 510px;
        left: auto;
        right: 3rem;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .product-list-sales {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .product-list-syrups {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .product-list-acsrs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;

    }
    .product-list-capsules {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .product-list-machines {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;

    }
    .product-list-capsules {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .product-list-machines {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}



@media screen and (min-width: 992px) {
    .navbar {
        padding: 1.5rem 6rem !important;
    }

    .cart-container {
        right: 6rem;
    }

    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-list-sales {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-list-syrups {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-list-acsrs {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-list-capsules {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-list-machines {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding: 1.5rem 14rem !important;
    }
    .cart-container {
        right: 14rem;
    }

    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-list-sales {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-list-syrups {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-list-acsrs {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-list-capsules{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-list-machines {
        grid-template-columns: repeat(4, 1fr);
    }
}


body {
    margin: 0px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 15%;
    top:0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    background-color: rgb(88, 175, 88);
    z-index: 1;
    font-size: x-large;
    margin: auto;
    padding: 91px;
}

.logo {
    display: inline-block;
    color: white;
    padding-left: 20px;
    padding-right: 50px;
    margin-left: -140px;
    margin-top: 12px;
}

.navlinks {
    width: 50%;
    display: inline-block;
    color: rgb(247, 247, 230);
    /* padding-left: 30px; */
    width: 100%;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
}

.navLinks a {
    border: 1px solid lightgoldenrodyellow;
    border-radius: 300px;
    display: inline-block;
    /* padding: 5px 30px 5px 30px; */
    /* padding: auto;
    padding: 10px 15px; */
    padding: 5px 30px 5px 30px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-right: 10px;
    margin-left: 1px;
    cursor: pointer;
    
}

.navLinks a:hover {
    opacity: 0.7;
  }

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-photo/coffee-beans-top-view-white-background-space-text_176474-5028.jpg?t=st=1657194274~exp=1657194874~hmac=3e9c8feabd45ec2fb8641329597ed84bad1b07bfdf3681c208ce6fe7d10996da&w=1060");

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    position: relative !important;
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: space-between;
}