body {
    margin: 0px;
}

.navBar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

.logo {
    display: inline-block;
    color: white;
    padding-left: 30px;
}

.navLinks {
    display: flex;
    padding-right: 40px;
}

.navLinks a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/Starbucks-New-York.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    display: flex;
    background-color: black;
    color: aliceblue;
    justify-content: space-between;
}

.footer-element-2 {
    padding-right: 60px;
    padding-top: 60px;
}

.footer-element-1 {
    padding-left: 40px;
}